<h4>ヘッダー（仮）</h4>
<%= link_to "商品一覧ページリンク",admin_products_path %>
<br></br>

商品詳細
<table class="table">
  <%= link_to attachment_image_tag(@product, :image_id, :fill,60,60, fallback: "no_image.jpg") %>
    <tbody>
      <tr>
        <td>商品名</td>
        <td><%= link_to @product.name %></td>
        <td>商品説明</td>
        <td><%= link_to @product.introduction %></td>
        <td>ジャンル</td>
        <td><%= @product.genre_id %></td>
        <td><%= @product.genre.name %></td>
        <td><%#= @genre.name%></td>

        <td><%= link_to @product.price %>税率・税込価格は未実装</td>
        <td><%= link_to @product.is_active %></td>
      </tr>
    </tbody>
</table>
<%= link_to "編集", edit_admin_product_path(@product.id),class: "btn btn-sm btn-success" %>
<%= link_to "削除", admin_product_path(@product.id),method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-sm btn-danger" %>