<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD

  <%= flash[:notice] %>
=======
<%= flash[:notice] %>
>>>>>>> 025634ff09c9f7d284d3e6c60c3532f0efa2b57c

  <body>
    <%= yield %>
  </body>
</html>
